/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    height: 1000px;
}

img {
    width: 100%;
    display: block;
}

footer {
    height: 800px;
    background-color: black;
}


/* Utilies */

h1 {
    font-weight: bolder;
}

.container-s {
    max-width: 1100px;
    margin: 0 auto;
}

.container-l {
    max-width: 1500px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.nav-header a:not(.button) {
    color: black;
    text-decoration: none;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 5px 12px;
    text-decoration: none;
}

/* Header */
/* Nav */

.nav-header {
    height: 100px;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
}

.nav-header-left, .nav-header-right {
    align-items: center;
    gap: 40px;
}

.nav-header .nav-header-left {
    justify-content: start;
}

.nav-header .nav-header-right {
    justify-content: end;
}

/* .nav-header-left, .nav-header-right {
    flex-basis: calc(100% / 3);
} */

/* Header */
/* Main header */

.main-header {
    height: 90%;
    background-color: #B4D0E7;
}


/* Main */
/* Prices */

.prices {
    height: 2200px;
}

.prices-section {
    height: 70%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.prices-section * {
    background-color: lightgray;
    height: 80%;
    flex-basis: calc(100% / 3 - 40px / 3);
}

.enterprise-pro {
    flex-grow: 1;
    height: 20%;
}

.find-a-partner {
    height: 30%;
    background-color: aqua;
}

/* Main */
/* Operations */

.operations {
    height: 1200px;
}

.business-feature {
    height: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.business-feature * {
    background-color: lightgray;
    flex-basis: calc(100% / 3 - 40px / 3);
}

/* Main */
/* Brands */

.brands {
    height: 1200px;
}

.logos {
    height: 70%
}

.logos > * {
    flex-basis: 100%;
}

.logos-sx, .logos-dx {
    flex-wrap: wrap;
}

.logos-sx *, .logos-dx * {
    flex-basis: 50%;
}

.brands-cta {
    height: 30%;
}

/* Main */
/* Faq */

.faq {
    height: 800px;
}


/* Footer */
/* Nav footer */

.footer {
    height: 100%;
}

.nav-footer {
    height: 80%;
    justify-content: space-between;
    gap: 20px;
}

.nav-footer * {
    background-color: aqua;
    flex-basis: calc(100% / 5 - 80px / 5);
}

.language {
    height: 20%;
}