/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    height: 1000px;
}

img {
    width: 100%;
    display: block;
}

footer {
    height: 600px;
    background-color: black;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

/* Utilies */

h1 {
    font-weight: bolder;
    font-size: 5rem;
    padding-top: 100px;
    padding-bottom: 70px;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    padding: 40px 0;
}

h3 {
    font-size: 1.8rem;
    padding: 10px 0;
}

h4 {
    font-size: 1.8rem;
    padding: 10px 0;
}

h5 {
    font-size: 1.2rem;
    padding: 20px 0 10px;
}

.container-card {
    padding: 40px;
}

.container-s {
    max-width: 1100px;
    margin: 0 auto;
}

.container-l {
    max-width: 1500px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.nav-header a:not(.button) {
    color: black;
    text-decoration: none;
}

.button {
    text-decoration: none;
    box-sizing: content-box;
    display: inline-block;
}

.button-s {
    padding: 5px 10px;
}

.button-s:hover {
    scale: 1.1 1.1;
}

.button-s:active {
    scale: 1 1;
}

.button-l {
    padding: 10px 20px;
}

.button-l:hover {
    scale: 1.1 1.1;
}

.button-l:active {
    scale: 1 1;
}

.button-primary-color {
    background-color: #0061FF;
    color: white;
}

.button-secondary-color {
    color: gray;
    border: 1px solid gray;
    box-shadow: 1px 1px gray;
}

.button-tertiary-color {
    background-color: white;
    color: black;
}

button {
    color: white;
    background-color: transparent;
    border: 0 solid transparent;
    padding: 20px 0;
}

.fa-ul {
    margin-left: var(--fa-li-margin, 1.5em);
}

.line-br {
    border-top: 1px solid lightgray;
    width: 60px;
    display: block;
    height: 0;
    margin-left: 25px
}


/* Header */
/* Nav */

.nav-header {
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
}

.nav-header ul{
    height: 100%;
    list-style-type: none;
    align-items: center;
    gap: 40px;
}

.nav-header .nav-header-left {
    justify-content: start;
}

.nav-header .nav-header-right {
    justify-content: end;
}

ul.flex-container a:hover:not(.button) {
    padding-bottom: calc(40px - ((120 / 100) * 8px) - 3px);
    border-bottom: 3px solid gray;
}



/* Header */
/* Main header */

.main-header {
    height: 90%;
    background-color: #B4D0E7;
    position: relative;
}

.section-header {
    justify-content: space-between;
}

.copy-section-header {
    flex-basis: 40%;
}

.copy-section-header .button {
    margin: 25px 0;
}

/* !Put an animation + link scroll down! */
.fa-arrow-down {
    font-size: 3rem;
    position: absolute;
    bottom: 5px;
    left: calc((100vw - 1500px) / 2);
    color: black;
}

/* Main */
/* Prices */

.prices {
    height: 2200px;
    margin-bottom: 50px;
}

.prices > .title {
    padding-top: 80px;
    height: 15%;
}

/* Form section */
.billing {
    padding: 20px 0px 20px 0;
    position: relative;
}

.billing * {
    display: inline;
    padding: 0 20px 20px 0;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: content-box;
    line-height: 10px;
    position: relative;
}

.monthly-dot .dot {
    border: 6px solid rgb(23, 23, 255);
    padding: 0px;
}

.annual-dot {
    position: absolute;
    top: 20px;
    left: 200px;
}

.annual-dot .dot {
    border: 2px solid gray;
    padding: 4px;
}

.monthly {
    position: absolute;
    top: 0;
    left: 20px;
    width: 500px;
}

.annual {
    position: absolute;
    top: 5px;
    left: 25px;
    width: 500px; 
}

/* Prices section */
/* Flex structure */

.prices-section {
    height: 65%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.prices-section > * {
    height: 80%;
    flex-basis: calc(100% / 3 - 40px / 3);
}

.enterprise-pro {
    flex-grow: 1;
    height: 20%;
}


/* Card Structure */

.card {
    border: 1px solid lightgray;
    height: 100%;
}

.card-top {
    max-height: 60%;
}

.card-bottom {
    max-height: 40%;
}

.user {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.prices-euro {
    font-weight: bold;
    padding: 5px 0;
}

.duration {
    color: gray;
}

.description-list {
    padding: 25px 0;
}

.card li {
    padding: 10px 0;
}

li section {
    display: inline;
}

.cta-free-30-days .button {
    display: block;
    text-align: center;
}

.cta-buy-now {
    padding: 25px 0;
}

.fa-check {
    color: blue;
    font-weight: bolder;
}

/* Card enterprise pro */

.enterprise-pro-copy h4 {
    padding: 0;
}

.subtitle.enterprise-pro-copy-title {
    font-weight: bold;
    padding-bottom: 50px;
} 

.enterprise-pro-flex {
    gap: 20px;
}

.enterprise-pro-copy + .enterprise-pro-button {
    flex-basis: 25%;
}


/* Find a partner */

.find-a-partner {
    height: 20%;
    padding: 150px 0 60px;
}

.find-a-partner-flex {
    gap: 50px;
}

.img-find-a-partner {
    width: 60%;
}

.copy-find-a-partner {
    flex-basis: 40%;
}

.copy-find-a-partner h4 {
    padding-top: 70px;
}

.copy-find-a-partner p {
    padding-bottom: 20px;
}


/* Main */
/* Operations */

.operations {
    height: 1400px;
    padding-top: 300px;
}

.business-feature {
    height: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.business-feature * {
    flex-basis: calc(100% / 3 - 40px / 3);
}

/* Card Business Feature structure */

.business-feature p {
    padding: 20px 0;
}

/* Main */
/* Brands */

.brands {
    height: 1200px;
    margin: 200px 0;
}

.logos {
    height: calc(100vw / 3);
    margin-top: 100px;
}

.logos > * {
    flex-basis: calc(100% / 3);
}

.logos-sx, .logos-dx {
    flex-wrap: wrap;
    height: 100%;
}

.logos-sx *, .logos-dx * {
    flex-basis: 50%;
}

.brands-cta {
    height: 30%;
    background-color: lightblue;
}

/* Logo adjustament */

.logo-img {
    justify-content: center;
    align-items: center;
    height: 50%;
}

.logo-img > * {
    filter: invert(100%);
}

/* Brands */
/* SX column */

.designit.logo-img {
    background-color: #A2D39B;
}

.asu.logo-img {
    background-color: #61082B;
}

.uf.logo-img {
    background-color: #0093CE;
}

.topps.logo-img {
    background-color: #FF1C1C;
}

/* Brands */
/* Middle column */

.copy-logos-middle {
    padding: 50px;
    background-color: #F5F5F5;
}

.copy-logos-middle > img {
    width: 50%;
}

.copy-logos-middle .line-br {
    margin: 50px 0;
}

.copy-logos-middle section {
    padding: 50px 0;
}

/* Brands */
/* DX Column */

.world-bicycle-relief.logo-img {
    background-color: #D5001F;
}

.hearst.logo-img {
    background-color: #B4D0E7;
}

.lonely-planet.logo-img {
    background-color: #0D2481;
}

.clear-channel-outdoor.logo-img {
    background-color: #FFD830;
}

/* Brands */
/* Brands-cta */

.brands-cta-flex {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.brands-cta h3 {
    color: #5D0022;
}

/* Main */
/* Faq */

.faq {
    height: 800px;
    padding: 200px 0;
}

.faq-section > * {
    border-top: 1px solid gray;
    line-height: 500%;
    font-weight: bold;
}

.faq-section span {
    position: relative;
}

.thrd-question {
    border-bottom: 1px solid gray;
}

.fa-angle-down {
    position: absolute;
    right: -400px;
    top: -5px;
    translate: 50% 50%;
}

/* Footer */
/* Nav footer + language structure*/

.footer {
    height: 100%;
    padding: 100px 0;
}

.nav-footer {
    height: 80%;
    justify-content: space-between;
    gap: 20px;
}

.nav-footer * {
    flex-basis: calc(100% / 5 - 80px / 5);
}

.language {
    height: 20%;
}

/* Footer */
/* Nav footer */

footer h4, footer ul {
    color: white;
}

.nav-footer ul {
    list-style-type: none;
}

.nav-footer li {
    padding: 10px 0;
}

/* Footer */
/* Language */

footer .line-br {
    margin: 10px 0 0 0;
}

footer button {
    filter: opacity(50%);
    padding: 30px 0;
}