/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    height: 1000px;
}

img {
    width: 100%;
    display: block;
}

footer {
    height: 800px;
    background-color: black;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

/* Utilies */

h1 {
    font-weight: bolder;
    font-size: 5rem;
    padding-top: 100px;
    padding-bottom: 70px;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    padding: 40px 0;
}

h4 {
    font-size: 1.5rem;
    padding: 10px 0;
}

h5 {
    font-size: 1.2rem;
    padding: 20px 0 10px;
}

.container-card {
    padding: 25px;
}

.container-s {
    max-width: 1100px;
    margin: 0 auto;
}

.container-l {
    max-width: 1500px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.nav-header a:not(.button) {
    color: black;
    text-decoration: none;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    box-sizing: content-box;
    display: inline-block;
}

.button-s {
    padding: 5px 10px;
}

.button-l {
    padding: 10px 15px;
}
    
.fa-ul {
    margin-left: var(--fa-li-margin, 1.5em);
}

li {
    padding: 10px 0;
}

.line-br {
    border-top: 1px solid lightgray;
    width: 60px;
    display: block;
    height: 0;
    margin-left: 25px
}


/* Header */
/* Nav */

.nav-header {
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
}

.nav-header-left, .nav-header-right {
    align-items: center;
    gap: 40px;
}

.nav-header .nav-header-left {
    justify-content: start;
}

.nav-header .nav-header-right {
    justify-content: end;
}


/* Header */
/* Main header */

.main-header {
    height: 90%;
    background-color: #B4D0E7;
    position: relative;
}

.section-header {
    justify-content: space-between;
}

.copy-section-header {
    flex-basis: 40%;
}

.copy-section-header .button {
    margin: 25px 0;
}

/* !Put an animation + link scroll down! */
.fa-arrow-down {
    font-size: 3rem;
    position: absolute;
    bottom: 5px;
    left: calc((100vw - 1500px) / 2);
    color: black;
}

/* Main */
/* Prices */

.prices {
    height: 2200px;
}

.prices .title {
    padding-top: 80px;
}

/* Form section */
.billing {
    padding: 20px 0px 20px 0;
    position: relative;
}

.billing * {
    display: inline;
    padding: 0 20px 20px 0;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: content-box;
    line-height: 10px;
    position: relative;
}

.monthly-dot .dot {
    border: 6px solid rgb(23, 23, 255);
    padding: 0px;
}

.annual-dot {
    position: absolute;
    top: 20px;
    left: 200px;
}

.annual-dot .dot {
    border: 2px solid gray;
    padding: 4px;
}

.monthly {
    position: absolute;
    top: 0;
    left: 20px;
    width: 500px;
}

.annual {
    position: absolute;
    top: 5px;
    left: 25px;
    width: 500px; 
}

/* Prices section */
/* Flex structure */

.prices-section {
    height: 70%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.prices-section > * {
    height: 80%;
    flex-basis: calc(100% / 3 - 40px / 3);
}

.enterprise-pro {
    flex-grow: 1;
    height: 20%;
}

.find-a-partner {
    height: 30%;
    background-color: aqua;
}

/* Card Structure */

.card {
    border: 1px solid lightgray;
    height: 100%;
}

.card-top {
    max-height: 60%;
}

.card-bottom {
    max-height: 40%;
}

.user {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.prices-euro {
    font-weight: bold;
    padding: 5px 0;
}

.duration {
    color: gray;
}

.description-list {
    padding: 40px 0;
}

.description-list-flex {
    
}

li section {
    display: inline;
}

.cta-free-30-days .button {
    display: block;
    text-align: center;
}

.cta-buy-now {
    padding: 40px 0;
}

.fa-check {
    color: blue;
    font-weight: bolder;
}

/* Main */
/* Operations */

.operations {
    height: 1200px;
}

.business-feature {
    height: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.business-feature * {
    background-color: lightgray;
    flex-basis: calc(100% / 3 - 40px / 3);
}

/* Main */
/* Brands */

.brands {
    height: 1200px;
}

.logos {
    height: 70%
}

.logos > * {
    flex-basis: 100%;
}

.logos-sx, .logos-dx {
    flex-wrap: wrap;
}

.logos-sx *, .logos-dx * {
    flex-basis: 50%;
}

.brands-cta {
    height: 30%;
}

/* Main */
/* Faq */

.faq {
    height: 800px;
}


/* Footer */
/* Nav footer */

.footer {
    height: 100%;
}

.nav-footer {
    height: 80%;
    justify-content: space-between;
    gap: 20px;
}

.nav-footer * {
    background-color: aqua;
    flex-basis: calc(100% / 5 - 80px / 5);
}

.language {
    height: 20%;
}